
.listItem{
    list-style-type: none;
    border: 2px solid black;
    padding: 16px;
}

.navBar{
    background-color: gray;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    height: fit-content;
    padding: 0px;
    margin-bottom: 0;
}